<div class="main">
    <h2>How to get involved</h2>

    <p><strong>Looking for a community:</strong> Come to our regular Thursday Hack Night at 1871. Its an open opportunity to meet people and get help (or provide help) to people getting started learning programming or working on their own projects. Once a month Hack night is more social and usually involves wine and chocolate.</p >

    <p><strong>Looking for more formal instruction:</strong> Come to one of our 4 week classes for 2 hours Monday night geared at beginners. We have taught classes in HTML5 and CSS3, Intro to Python, Intro to Ruby, and various other web technologies.</p>

    <p><strong>Looking for cool technical projects:</strong> Come to one of our workshops or hackathons where we work learn about a new technology, or build a site together. In the past we've done workshops on eTextiles with Arduino, mobile app development, and app engine.</p>
</div>