<div class="main">
  <section id="intro">
    <p>Chicago Chicago Women Developers (CWDevs) is run by a group of women from a variety of background and technical expertise.</p>
    <p>We have one thing in common: we are passionate about coding and we are passionate about women in tech.</p>
  </section>
  <section id="events">
    <h1>Upcoming Events</h1>
    <ul>
      <li><ul><li class="date">Thurs, 02/21</li><li>#XXHack</li></ul></li>
      <li><ul><li class="date">Tue, 02/26</li><li>Javascript Meetup</li></ul></li>
      <li><ul><li class="date">Sat, 03/02</li><li>e-textiles with Ardiuno</li></ul></li>
      <li><ul><li class="date">Sat, 03/04</li><li>Let's Learn Python!</li></ul></li>
      <li><ul><li class="date">Sat, 04/01</li><li>Lets Learn Ruby</li></ul></li>
    </ul>
  </section>
</div>