<div class="first">
  <section id="intro">
    <p>Chicago Chicago Women Developers (CWDevs) is run by a group of women from a variety of background and technical expertise.</p>
    <p>We have one thing in common: we are passionate about coding and we are passionate about women in tech.</p>
  </section>
</div>
<div class="second clearfix">
  <div class="center">
    <section id="photo">
      <img src="/images/photo.png" />
    </section>
    <section id="events">
      <h1>Upcoming Events</h1>
      <ul>
        <li><ul><li class="date">Thurs, 02/21</li><li><a href="http://www.meetup.com/WomanDevelopers/events/103906052/">XXHack</a></li></ul></li>
        <li><ul><li class="date">Tue, 02/26</li><li><a href="http://www.meetup.com/WomanDevelopers/events/102745332/">Javascript Meetup</a></li></ul></li>
        <li><ul><li class="date">Sat, 03/02</li><li><a href="http://www.meetup.com/WomanDevelopers/events/102711692/">e-textiles with Ardiuno</a></li></ul></li>
        <li><ul><li class="date">Sat, 03/04</li><li><a href="http://www.meetup.com/WomanDevelopers/events/103720392/">Let's Learn Python!</a></li></ul></li>
        <li><ul><li class="date">Sat, 04/01</li><li><a href="http://www.meetup.com/WomanDevelopers/events/90037272/">Lets Learn Ruby</a></li></ul></li>
      </ul>
      <a href="http://www.meetup.com/WomanDevelopers/">see all</a>
    
    </section>
  </center>
</div>