<div class="first">
  <section id="intro">
    <p>Chicago Women Developers (CWDevs) is run by a group of women from a variety of backgrounds and technical expertise.</p>
    <p>We have these qualities in common: we are passionate about coding and we are passionate about women in tech.</p>
  </section>
</div>
<div class="second clearfix">
  <div class="center">
    <section id="photo">
      <img src="/images/photo.png" />
    </section>
    <section id="events">
      <h1>Upcoming Events</h1>
      <p>Updated events are available on <a href="http://www.meetup.com/WomanDevelopers">Meetup</a>.</p>
      <p>We have weekly hack nights on Thursday at 1871.</p>
    </section>
  </center>
</div>
